[Unit]
Description=Tilt2mqtt
After=network.target

[Service]
WorkingDirectory=/home/pi/tilt2mqtt/
ExecStart=/usr/bin/python3 -u tilt2mqtt.py
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi   

[Install]
WantedBy=multi-user.target


#sudo setcap cap_net_raw+eip /usr/bin/python3.7
#Edit value for WorkingDirectory
#Copy this file to /etc/systemd/system/
#sudo systemctl daemon-reload
#sudo systemctl enable tilt2mqtt.service  #if autostart needed
#sudo systemctl start tilt2mqtt.service
#sudo systemctl stop tilt2mqtt.service
#sudo systemctl status tilt2mqtt.service
